@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo Black";
  src: url("../fonts/ArchivoBlack-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #111;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
  background:
  /* Hero glow */
    radial-gradient(
      circle 600px at 75% 400px,
      rgba(109, 109, 255, 0.35) 0%,
      rgba(109, 109, 255, 0.15) 35%,
      rgba(109, 109, 255, 0) 70%
    ),
    /* Contact glow */
    radial-gradient(
        circle 450px at 50% calc(100% - 190px),
        rgba(109, 109, 255, 0.35) 0%,
        rgba(109, 109, 255, 0.15) 35%,
        rgba(109, 109, 255, 0) 70%
      );
}

.hero__container {
  display: flex;
  gap: 20px;
}

.hero__content {
  flex: 1;
  padding-top: 89px;
  display: flex;
  flex-direction: column;
}

.hero__content,
.hero__image {
  min-width: 0;
}

.hero__image {
  padding-top: 40px;
}

.hero__title {
  font-family: "Archivo Black", Arial, sans-serif;
  font-size: 72px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 15px;
}

.hero__subtitle {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  margin-bottom: 30px;
}

.hero__description {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: white;
  margin: 0;
  margin-bottom: 30px;
}

.hero__links {
  display: flex;
  gap: 30px;
}

.hero__link {
  display: inline-block;
  color: white;
  padding-bottom: 5px;
}

.hero__photo {
  width: 387px;
  height: 500px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.skills {
  padding-top: 110px;
}

.skills__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__logo {
  width: 50px;
  height: auto;
}

.section-title {
  font-family: "Archivo Black", Arial, sans-serif;
  font-size: 40px;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 50px;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.projects__item {
  flex-basis: calc((100% - 20px) / 2);
}

.project-card {
  width: 100%;
}

.projects {
  padding-top: 100px;
}

.project-card__image-container {
  position: relative;
  height: 330px;
}

.project-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card__overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(0, 0, 0, 0.55) 100%
  );
}

.project-card__tech-list {
  position: absolute;
  left: 12px;
  bottom: 10px;
  display: flex;
  gap: 10px;
}

.project-card__tech-logo {
  width: 40px;
  height: 40px;
}

.project-card__content {
  background-color: #1c1c1c;
  padding: 30px;
  min-height: 340px;
  display: flex;
  flex-direction: column;
}

.project-card__title {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  color: white;
  margin: 0;
  margin-bottom: 20px;
}

.project-card__description {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: white;
  margin: 0;
  margin-bottom: 30px;
}

.project-card__links {
  display: flex;
  gap: 20px;
  margin-top: auto;
}

.project-card__link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #6d6dff;
}

.contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__description {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #6d6dff;
  margin: 0;
  margin-bottom: 30px;
}

.contact__links {
  display: flex;
  gap: 80px;
}

.contact__icon {
  width: 40px;
  height: 40px;
}

.hero__link,
.project-card__link,
.contact__link,
.contact__description {
  transition: opacity 0.2s ease;
}

.hero__link:hover,
.project-card__link:hover,
.contact__link:hover,
.contact__description:hover {
  opacity: 0.5;
}

.hero__subtitle-separator {
  display: inline;
}

.hero__subtitle-tech {
  display: inline;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0 40px;
    background:
  /* Hero glow */
      radial-gradient(
        circle 600px at 75% 200px,
        rgba(109, 109, 255, 0.35) 0%,
        rgba(109, 109, 255, 0.15) 35%,
        rgba(109, 109, 255, 0) 70%
      ),
      /* Contact glow */
        radial-gradient(
          circle 600px at 50% calc(100% - 190px),
          rgba(109, 109, 255, 0.35) 0%,
          rgba(109, 109, 255, 0.15) 35%,
          rgba(109, 109, 255, 0) 70%
        );
  }

  .hero__photo {
    width: 216px;
    height: 280px;
  }

  .hero__content {
    padding-top: 40px;
  }

  .hero__image {
    padding-top: 40px;
  }

  .hero__title {
    font-size: 58px;
    line-height: 1.1;
  }

  .hero__subtitle {
    line-height: 1.4;
  }

  .hero__subtitle-separator {
    display: none;
  }

  .hero__subtitle-tech {
    display: block;
  }

  .skills {
    padding-top: 80px;
  }

  .section-title {
    margin-bottom: 44px;
  }

  .projects {
    padding-top: 80px;
  }

  .projects__item {
    flex-basis: 100%;
  }
  .project-card__content {
    min-height: unset;
  }
  .contact {
    padding-top: 80px;
    padding-bottom: 102px;
  }
}
